input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;

  border-radius: 5000px;

  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.733);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.322);
}

.add-event {
  color: #dbe4ee;
  background-color: #3e7cb1;
  border-radius: 15px;
  width: 50%;
  margin-left: 20%;
}


