.login-input {
  font-family: "Kanit", sans-serif;
}

.login-below {
  margin-left: 5%;
  color: #054a91;
}

.login-btn {
  color: #dbe4ee;
  background-color: #3e7cb1;
  border-radius: 15px;
  width: 25%;
  border-left: black;
  border-top: black;
  height: 1.5em;
  font-size: large;
}

.login-register-btn {
  color: #dbe4ee;
  background-color: #3e7cb1;
  border-radius: 15px;
  width: 40%;
  border-left: black;
  border-top: black;
  height: 1.5em;
  font-size: large;
}

#login-head {
  color: white;
  font-family: "Kanit", sans-serif;
}
