.myevents-text {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 1em;
  width: fit-content;
  padding: 10px;
  text-align: center;
  /* border-bottom: 1px solid white; */
  border: 1px dashed rgba(255,255,255,0.39);
}

/* #myevents-text {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 1.3em;
  text-align: center;

} */

.noevent-text{
  color: #ffa6a2;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  text-align: center;
}