.myevents-text {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 1.3em;

  text-align: center;
  border-bottom: 2px solid white;
}

#myevents-text {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 1.3em;
  text-align: center;
}

#myevents-h2 {
  border-bottom: none;
}
