.card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 398px;
  margin-bottom: 5px;
  background-color: #17141d;
  border-radius: 10px;

  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
}
