.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 340px;
  margin: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #81A4CD;
  border-radius: 15px;
  transition: 0.4s ease-out;
  position: relative;
  font-family: 'Righteous', cursive;
   border: 1px solid #FFFFFF;
  box-shadow: -1px 4px 22px 7px rgba(255,255,255,0.36);

}
.card :hover {
  cursor: pointer;
}

.sold-out {
  color: white;
  position: absolute;
  padding: 10px;
  background-color: rgba(228, 220, 220, 0.158);
  width: fit-content;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  font-size: 0.8em;
  top: 0px;
  right: 0px;
}

.card-header {
  display: flex;
  flex-direction: row;
}

.card p {
  margin: 0px;
}

.card-footer {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-footer p {
  height: 20px;
  margin: 0px;
}

.btns {
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  justify-content: center;
  color: #FFFFFF;
}

p {
  color: whitesmoke;
}

.wholecard {
  display: flex;
  flex-direction: row;
}

button {
  /* border-radius: 20%; */
  /* background-color: #dbe4ee; */
  /* outline: none; */
  /* color: white; */

}
button:hover {
  /* cursor: pointer; */
  /* background-color: transparent; */
}
